.layout {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  .content {
    position: relative;
    min-height: calc(100vh - 70px);
    max-width: calc(100vw - 50px);
    top: 70px;
    left: 50px;
    transition: transform ease-in-out .5s;
  }

  .content.translated {
    transform: translateX(250px);
  }
}
