body {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  min-height: 100vw;
  overflow: hidden auto;
}
.App {
  text-align: center;
}

.App-logo {
  max-height: 10vmin!important;
  height: 10vmin!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
